@font-face {
	font-display: swap;
	font-family: 'Instrument Sans';
	font-style: normal;
	font-weight: 400;
	src:
		local('Instrument Sans'),
		url('/fonts/instrument-sans-regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Departure Mono';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/DepartureMono-Regular.woff2') format('woff2');
}

:root {
	--sans: 'Instrument Sans', system-ui, Arial, Helvetica, sans-serif;
	--mono: 'Departure Mono';
	font: 400 12px var(--sans);
	line-height: 1.44;
	font-synthesis: none;
	font-variant-numeric: tabular-nums;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body,
div,
p {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

li {
	list-style: none;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: auto;
	text-underline-offset: auto;
	text-underline-position: from-font;
}

.text-titles-semibold {
	color: var(--Black, #000);
	font-family: var(--sans);
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 600;
	line-height: 113%;
	text-transform: uppercase;
}

.text-body-regular {
	color: var(--Black, #000);
	font-family: var(--sans);
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
