@font-face {
	font-display: swap;
	font-family: 'Instrument Sans';
	font-style: normal;
	font-weight: 400;
	src:
		local('Instrument Sans'),
		url('/fonts/instrument-sans-regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Departure Mono';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/DepartureMono-Regular.woff2') format('woff2');
}

html,
body {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-decoration-line: underline;
	text-decoration-style: solid;
	text-decoration-skip-ink: auto;
	text-decoration-thickness: auto;
	text-underline-offset: auto;
	text-underline-position: from-font;
}
